body
{
color: black;
background: rgb(240, 240, 139);
}
.heading
{
width: 80%;
font-size: 23px;
}
.name_of_objects
{
color:blue ;
}
#camera
{
    border: 2px ridge blue;
    width: 350px;
    height: 300px;
}
#result_object_name , #result_object_accuracy
{
    color: blue;
}